@media screen and (max-width: 1200px){
  .main-container {
    width: 90%;
  }
}

@media screen and (max-width: 1000px) {
  p {
    font-size: 0.9rem;
    line-height: 1.8rem;
  }

  .skills-list ul li {
    font-size: 0.9rem;
  }
  }

  .nav .logo {
    font-size: 1.1rem;
  }

@media screen and (max-width: 825px) {
  /* Burger */
  .burger {
    display: block;
    cursor: pointer;
  }

  .toggle-burger .line-1 {
    transform: rotate(-45deg) translate(-5px, 7px);
  }

  .toggle-burger .line-2 {
    opacity: 0;
  }

  .toggle-burger .line-3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  /* Navigation */
  nav {
    position: fixed;
    width: 40%;
    right: 0;
    top: 0;
    height: 100vh;
    flex-direction: column;
    background: var(--primaryBackgroundColor);
    border-left: 1px solid var(--borderColor);
    z-index: 9;
    transform: translateX(100%);
    transition: 0.3s ease-in-out;
  }

  nav ul {
    height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .nav-active {
    transform: translateX(0);
  }

  :root {
    --sectionPadding: 4rem 0;
  }

  .section-title {
    font-size: 1.6rem;
    margin: 0.6rem 0 2.5rem;
  }
  
  .pre-title {
    font-size: 0.8rem;
  }

  .nav .logo {
    font-size: 1rem;
  }

.nav {
  padding: 0 4rem;
}


  /* Hero Section */
  #hero {
    grid-template-columns: 1fr;
    height: fit-content;
  }

  .hero-right {
    order: -1;
  }

  .hero-right img {
    width: 300px;
  }

  .hero-left {
    text-align: center;
    padding-bottom: 5rem;
  }

  .hero-left .pre-title {
    margin: 2rem auto 0;
  }

  .hero-name {
    font-size: 2.3rem;
    margin-bottom: 0.5rem;
  }

  /* footer section */
  footer {
    padding: 2rem 0;
  }

}

@media screen and (max-width: 640px) {
  .section-title {
    font-size: 1.3rem;
  }

  .pre-title {
    font-size: 0.7rem;
  }

  .hero-name {
    font-size: 2rem;
  }
  .nav .logo {
    font-size: 0.9rem;
  }

  .nav {
    padding: 0 3rem;
  }

}

@media screen and (max-width: 500px) {
  #hero {
    margin-top: 3rem;
    margin-bottom: 1.4rem;
  }

  .hero-left .pre-title {
    margin-top: 3rem;
  }

  nav {
    width: 50%;
  }

  nav ul {
    justify-content: start;
    margin-top: 9rem;
  }

  .nav {
    padding: 0 2rem;
  }

  .nav {
    height: 60px;
  }

  .burger {
    top: 15px;
  }

}